body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background: url('https://www.toptal.com/designers/subtlepatterns/patterns/absurdidad.png');
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 50px;
}
header {
    float: left;
    margin: auto;
    margin-left: 125px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    width: 150px;
    background-color: #4aaaa5;
    padding: 25px;
}
nav {padding: 25px;
    float: right;
}
.clearfix {
    clear: both;
}
.main_box {
    background-color: white;
    padding: 10px;
    width: 960px;
    margin: auto;
    margin-bottom: 50px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}
img {
    width: 150px;
    float: left;
    margin-right: 20px;
}
p {
    /* float: right; */
}

footer {
    font-size: 15px;
    padding: 20px;
    color: #777777;
    text-align: center;
    background-color: #666666;
    border-top-color: #4aaa5;
    border-top: 10px;
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}